@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Marcellus&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body{
    margin: 0px auto;
    max-width: 1600px;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: #191919;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.common-heading h2{
    font-size: 42px;
    font-family: 'Marcellus';
    width: 60%;
    margin: 0px auto;
    font-weight: 500;
    text-align: center;
}

.common-heading h2 span{
    color: #4caf50;
    font-weight: 700;
}

.section-lg{
    padding: 50px 0px;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #fff;
}

ul{
    padding: 0;
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}


/* header css start */

#header{
    background-image: url('images/home-banner1.JPG');
    background-size: cover;
    background-position: center;
    height: 600px;
    padding-top: 10px;
    position: relative;
}

.header-inner{
    background-color: #2d5879;
    border-radius: 10px;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

.left-header img{
    width: 80px;
}

.middle-header a{
    margin: 0px 15px;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.schedule-visit-button{
    background-color: #398547;
    color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    width: max-content;
    font-weight: 600;
    transition: all .2s ease;
}

.schedule-visit-button:hover{
    background-color: #2d6136;
}

.animation-section h1 {
  opacity: 0;
  color: #fff;
  font-size: 74px;
  line-height: 1;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-family: 'Marcellus';
  margin-bottom: 10px;
  text-shadow: -1px -1px 0px #fff, 3px 3px 0px #004738,
    6px 6px 0px #00000055;
}

.animation-section .small-text{
  color: #fff;
  font-size: 18px;
}

.animation-section h2{
  color: #fff;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.1px;
  font-weight: 600;
  font-family: 'Instrument Sans';
}

.animation-section h2 span{
    color: rgb(236, 171, 28);
}

.animation-section{
    position: absolute;
    top: 45%;
    left: 8%;
}

/* header css end */


/* why invest css start */

.why-invest-inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 30px;
}

.why-invest-item{
    background-color: #e0f1fd;
    border-radius: 10px;
    padding: 40px;
}

.why-invest-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.why-invest-item img{
    width: 50px;
}

.why-invest-item h4{
    font-weight: 600;
}

.why-invest-item p{
    color: #5c5c5c;
}

/* why invest css end */


/* steps section css start */


.step-section .steps {
  width: 100%;
  padding: 3rem 0rem;
  position: relative;
}

.step-section .steps .one {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 50px;
  align-items: center;
  justify-items: center;
  padding: 50px;
  /* ensure visible area */

  background:
    url('../images/steps-bg.png') center right / 20% no-repeat,
    linear-gradient(90deg, #acd8a7 0%, #cce7c9 50%, #ffffff 100%);
}


.step-section .steps .one.do{
    background:
    url('../images/steps-bg.png') center right / 20% no-repeat,
    linear-gradient(90deg,#72bf6a, #8bca84 0%, rgba(255, 255, 255, 1) 100%);
  /* background: linear-gradient(90deg,#72bf6a, #8bca84 0%, rgba(255, 255, 255, 1) 100%); */
}

.step-section .steps .one.tin{
  background:
    url('../images/steps-bg.png') center right / 20% no-repeat,
    linear-gradient(90deg, #64b15a, #80d375 0%, rgba(255, 255, 255, 1) 100%);
  /* background: linear-gradient(90deg, #52a447, #5bb450 0%, rgba(255, 255, 255, 1) 100%); */
}

.step-section .steps .one.char{
  background:
    url('../images/steps-bg.png') center right / 20% no-repeat,
    linear-gradient(90deg,#4fa344, #61c054 0%, rgba(255, 255, 255, 1) 100%);
  /* background: linear-gradient(90deg,#3b8132, #46923c 0%, rgba(255, 255, 255, 1) 100%); */
}

.step-section .steps .one.paanch{
  background:
    url('../images/steps-bg.png') center right / 20% no-repeat,
    linear-gradient(90deg,#81ce77, #40b338 0%, rgba(255, 255, 255, 1) 100%);
  /* background: linear-gradient(90deg,#68b15f, #407d3c 0%, rgba(255, 255, 255, 1) 100%); */
}

.step-section .steps .borders {
  padding-top: 3rem;
  margin-top: 10px;
}

.step-section .steps .one .oneR{
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.step-section .steps .one .oneR h4{
  font-size: 30px;
  font-weight: 600;
}

.step-section .steps .one .oneR p{
  font-size: 22px;
  font-weight: 500;
  padding-right: 30px;
  color: #004738;
}

.step-section .steps .one .oneL img{
  width: 100%;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.spacer {
  height: 50vh; 
}

/* steps section css end */

/* about section css start */

.about-section {
  background-image: url('images/about-bg.png');
  background-position: bottom right;
  background-size: 15%;
  background-repeat: no-repeat;
}

.about-text{
    margin-top: 30px;
    font-size: 2.5vw;
  line-height: 1.3;
  color: #191919; /* base faded color */
}

.vision-mission-div{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
}

.vision-div{
    background-color: transparent;
    background-image: linear-gradient(90deg, #57b473 0%, #519c4e 100%);
    padding: 40px 35px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.vision-div h3{
  font-weight: 700;
}

.vision-div p{
  font-size: 20px;
  font-weight: 600;
}

/* about section css end */

/* location connectivity css start */

.lc-inner{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
}

.left-lc{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.left-lc p{
  font-size: 22px;
}

.km-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

.km-item{
  background-color: #e0f1fd;
  padding: 10px 25px;
  border-radius: 10px;
  color: #2d5879;
  font-weight: 600;
  font-size: 22px;
}

.km-item span{
  font-size: 26px;
  color: #004738;
}

.right-lc img{
  width: 100%;
}

/* location connectivity css end */


/* graph section css start */

.graph-section img{
    width: 100%;
}

/* graph section css end */


/* faq section css start */


.que-container{
  max-width:800px;
  margin:50px auto 0;
}

.question{
  border-top:1px solid #acd8a7;
}

.question:last-child{
  border-bottom:1px solid #acd8a7;
}

.question button{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color:transparent;
  font-size:20px;
  color:#191919;
  text-transform:capitalize;
  font-weight:600;
  padding:25px 20px 25px 0;
  border:none;
  cursor:pointer;
  transition:color 0.3s;
}

.question button i {
  color:#004738;
  transition:transform 0.3s;
}

.question p{
  color:#5c5c5c;
  font-size: 18px;
  height:0;
  overflow:hidden;
  transition:all 0.3s;
}

.question button.show + p{
  padding-bottom:25px;
  height:auto;
}

.question button.show{
  color:#191919;
}

.question button.show i{
  transform:rotate(180deg);
}

/* faq section css end */

/* contact section css start */

.contact-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #ccedc8;
    border-radius: 20px;
}

.right-contact img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.left-contact{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 50px;
}

.contact-links img{
    width: 40px;
}

.contact-links{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 80px;
}

.contact-links a{
    font-size: 22px;
}

.contact-links a:hover{
    text-decoration: underline;
    color: inherit;
    transition: all .2s ease;
}

.left-contact hr{
    margin: 0;
}

.social-icons{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 10px 0px;
}

.social-icons span{
    font-size: 34px;
}

.social-icons a:hover{
    color: inherit;
}

/* contact section css end */


/* footer css start */

#footer{
    background-color: #004738;
    color: #fff;
    padding: 15px 0px;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
}

/* footer css end */

 
/********** MOBILE HEADER ************/


.mobile-header{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.mobile-menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2866c72e;
    padding: 10px;
}

.mobile-menu-container .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobile-menu-container .logo p{
    line-height: 1;
    display: none;
}

/* mobile menu css */

.canva_expander {
    cursor: pointer;
    display: block;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.canva_expander span {
    height: 2px;
    width: 35px;
    display: block;
    background: #fff;
    cursor: pointer;
    list-style: none;
    margin: 6px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    margin-left: auto;
}

.canva_expander span.dot2 {
    width: 27px;
}

.canva_expander span.dot4 {
    width: 22px;
}


.hamburger {
    position: absolute;
    top: 20px;
    right: 15px;
    /* line-height: 20px; */
    padding: 5px;
    /* border-radius: 5px; */
    color: #fff;
    border: 0;
    font-size: 30px;
    font-weight: bold;
    outline: none;
    z-index: 1111;
    background: none;
}

.cross{
  background:none;
  position:absolute;
  top:5px;
  right:15px;
  padding:7px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:22222;
}
.menu{z-index:1111; font-weight:bold; font-size:16px; width:100%; background-color: #004738;  position:absolute; text-align:center; font-size:12px; top: 0; left: 0;min-height: 100%; height: 100vh;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none; padding-top: 80px;}
.menu li {display: block;   padding:20px 0 20px 0;  font-weight: 700;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;font-size: 14px;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:#fff;}

.nav__sub li{
    padding: 10px 0px !important;
}

.fa-chevron-right{
    font-size: 12px;
}

.glyphicon-home{
  color: #132b2c; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}


.nav__item , .nav__item {
	margin-top: 10px;
}

.menu ul .nav__link {
	font-weight: 600;
	color: #fff;
    /* font-family: 'myregularfont'; */
	text-decoration: none;
}

.hamburger, .cross, .menu{
  display: none;
}

.logo img{
    width: 60px;
}

@media screen and (max-width:768px) {
  .header-inner, .right-contact{
    display: none;
  }

  .mobile-header{
    display: block;
  }

  .section-lg{
    padding: 30px 15px;
  }

  #header{
    height: 380px;
    /* background-size: cover; */
  }

  .animation-section h1{
    font-size: 42px;
  }

  .animation-section h2{
    font-size: 16px;
  }

  .animation-section h2 .small-text{
    font-size: 13px;
  }

  .about-text {
    margin-top: 20px;
    font-size: 3.5vw;
  }

  .animation-section {
    position: absolute;
    top: 37%;
    left: 5%;
  }

  .common-heading h2 {
    font-size: 26px;
    width: 100%;
  }

  .why-invest-inner, .vision-mission-div, .contact-inner{
    grid-template-columns: repeat(1,1fr);
    gap: 15px;
  }

  .why-invest-item, .vision-div {
    padding: 20px;
    gap: 10px;
  }

  .why-invest-item img {
    width: 45px;
  }

  .step-section .steps .one {
  background:
    linear-gradient(90deg, #acd8a7 0%, #cce7c9 50%, #ffffff 100%);
  }

  .step-section .steps .one.do{
    background: linear-gradient(90deg,#72bf6a, #8bca84 0%, rgba(255, 255, 255, 1) 100%);
  /* background: linear-gradient(90deg,#72bf6a, #8bca84 0%, rgba(255, 255, 255, 1) 100%); */
}

.step-section .steps .one.tin{
  background: linear-gradient(90deg, #64b15a, #80d375 0%, rgba(255, 255, 255, 1) 100%);
  /* background: linear-gradient(90deg, #52a447, #5bb450 0%, rgba(255, 255, 255, 1) 100%); */
}

.step-section .steps .one.char{
  background: linear-gradient(90deg,#4fa344, #61c054 0%, rgba(255, 255, 255, 1) 100%);
  /* background: linear-gradient(90deg,#3b8132, #46923c 0%, rgba(255, 255, 255, 1) 100%); */
}

.step-section .steps .one.paanch{
  background: linear-gradient(90deg,#81ce77, #40b338 0%, rgba(255, 255, 255, 1) 100%);
  /* background: linear-gradient(90deg,#68b15f, #407d3c 0%, rgba(255, 255, 255, 1) 100%); */
}

  .step-section .steps .one .oneR p{
    font-size: 16px;
    padding-right: 0px;
  }

  .km-item span{
    font-size: 18px;
  }

  .que-container {
    margin: 25px auto 0;
  }

  .question button{
    padding: 10px 10px 10px 0px;
  }

  .question button.show + p {
    padding-bottom: 10px;
    font-size: 14px;
  }

  .step-section .steps .one .oneR {
    padding-right: 0px;
  }

  .step-section .steps .one .oneR h4 {
    font-size: 24px;
}

  .contact-links, .km-item{
    padding: 10px 15px;
  }

  .left-contact{
    padding-top: 30px;
    gap: 10px;
  }

  .social-icons span {
    font-size: 24px;
  }

  .footer-inner{
    flex-direction: column;
    gap: 5px;
  }

  .footer-inner p{
    font-size: 12px;
  }

  .contact-links{
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .contact-links img{
    width: 30px;
  }

  .contact-links a, .vision-div p, .left-lc p, .km-item, .question button, .footer-inner h6{
    font-size: 16px;
  }
}

@media screen and (max-width:576px) {
  .header-inner, .right-contact{
    display: none;
  }

  .mobile-header{
    display: block;
  }

  .section-lg{
    padding: 30px 15px;
  }

  #header{
    height: 380px;
    /* background-size: cover; */
  }

  .animation-section h1{
    font-size: 28px;
  }

  .animation-section h2{
    font-size: 16px;
  }

  .animation-section h2 .small-text{
    font-size: 13px;
  }

  .about-text {
    margin-top: 20px;
    font-size: 5.5vw;
  }

  .animation-section {
    position: absolute;
    top: 44%;
    left: 5%;
  }

  .common-heading h2 {
    font-size: 26px;
    width: 100%;
  }

  .why-invest-inner, .vision-mission-div, .lc-inner, .contact-inner{
    grid-template-columns: repeat(1,1fr);
    gap: 15px;
  }

  .why-invest-item, .vision-div {
    padding: 20px;
    gap: 10px;
  }

  .why-invest-item img {
    width: 45px;
  }

  .step-section .steps .one {
  padding: 0px;
  background:
    linear-gradient(90deg, #acd8a7 0%, #cce7c9 50%, #ffffff 100%);
  }

  .step-section .steps .one.do{
    background: linear-gradient(90deg,#72bf6a, #8bca84 0%, rgba(255, 255, 255, 1) 100%);
  /* background: linear-gradient(90deg,#72bf6a, #8bca84 0%, rgba(255, 255, 255, 1) 100%); */
}

.step-section .steps .one.tin{
  background: linear-gradient(90deg, #64b15a, #80d375 0%, rgba(255, 255, 255, 1) 100%);
  /* background: linear-gradient(90deg, #52a447, #5bb450 0%, rgba(255, 255, 255, 1) 100%); */
}

.step-section .steps .one.char{
  background: linear-gradient(90deg,#4fa344, #61c054 0%, rgba(255, 255, 255, 1) 100%);
  /* background: linear-gradient(90deg,#3b8132, #46923c 0%, rgba(255, 255, 255, 1) 100%); */
}

.step-section .steps .one.paanch{
  background: linear-gradient(90deg,#81ce77, #40b338 0%, rgba(255, 255, 255, 1) 100%);
  /* background: linear-gradient(90deg,#68b15f, #407d3c 0%, rgba(255, 255, 255, 1) 100%); */
}

  .step-section .steps .one .oneR p{
    font-size: 14px;
    padding-right: 0px;
  }

  .km-item span{
    font-size: 18px;
  }

  .que-container {
    margin: 25px auto 0;
  }

  .question button{
    padding: 10px 10px 10px 0px;
  }

  .question button.show + p {
    padding-bottom: 10px;
    font-size: 14px;
  }

  .step-section .steps .one .oneR {
    padding-right: 0px;
  }

  .step-section .steps .one .oneR h4 {
    font-size: 24px;
}

  .contact-links, .km-item{
    padding: 10px 15px;
  }

  .left-contact{
    padding-top: 30px;
    gap: 10px;
  }

  .social-icons span {
    font-size: 24px;
  }

  .footer-inner{
    flex-direction: column;
    gap: 5px;
  }

  .footer-inner p{
    font-size: 12px;
  }

  .contact-links{
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .contact-links img{
    width: 30px;
  }

  .contact-links a, .vision-div p, .left-lc p, .km-item, .question button, .footer-inner h6{
    font-size: 14px;
  }
}